.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

.logo img {
    vertical-align: middle;
}