<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="page-name" content="" />
    <!-- Set this for each page -->
    <title>My India -</title>
    <!-- Complete this for each page -->
    <!-- Common CSS -->
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/common.css" />
    <link rel="stylesheet" href="/assets/css/float-nav.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/assets/css/developer-info.css" />
    <!-- Additional page-specific CSS goes here -->
  </head>
  <body>
    <div id="header-placeholder"></div>

    <main class="content">
      <!-- Page content goes here -->
    </main>

    <div id="footer-placeholder"></div>

    <!-- Common Scripts -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="/js/components.js"></script>
    <script src="/js/float-nav.js"></script>
    <script src="/js/footer.js"></script>
    <script>
      AOS.init();
    </script>
    <!-- Additional page-specific scripts go here -->
  </body>
</html>
